@font-face {
  font-family: 'Inter-Regular';
  src: url('../fonts/Inter-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'PTSans-Regular';
  src: url('../fonts/PTSans-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url('../fonts/Raleway-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url('../fonts/Raleway-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url('../fonts/Raleway-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
}

.section-indent {
  margin-bottom: 120px;
}

.title {
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase;
  color: #000;
}

.title span {
  display: inline-block;
  padding-bottom: 8px;
  background-image: url('../images/decor-underline.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
}

.container {
  max-width: 1740px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  font-family: 'Raleway-Regular';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0 20px;
}

.logo {
  font-size: 0;
  transition: color 0.3s ease;
}

.logo:hover svg {
  color: #00a9bd;
}

.menu__list {
  display: flex;
  gap: 30px;
}

.menu__item {
  position: relative;
  font-size: 18px;
  line-height: 1.16;
}

.menu__item::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Raleway-Bold';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  opacity: 0;
}

.menu__link {
  display: inline-block;
  font-family: 'Raleway-Medium';
  font-weight: 500;
  text-transform: uppercase;
  transition: opacity 0.3s;
}

.menu__item:hover::before {
  opacity: 1;
}

.menu__item:hover::before .menu__link {
  opacity: 0;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 44px;
  font-size: 0;
}

.social-list__link {
  display: inline-block;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-list__link:hover {
  color: #00a9bd;
  transform: scale(1.25);
}

.header__content {
  background-image: url('../images/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Raleway-Bold', sans-serif;
  font-weight: 700;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
}

.header__content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 124px);
  text-align: center;
}

.header__title {
  margin-top: 18vh;
  margin-bottom: 10px;
  font-size: 128px;
  text-transform: uppercase;
}

.booking {
  padding: 22px 30px;
  font-family: 'Raleway-Bold', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  color: #fff;
  background-color: #00a9bd;
  text-transform: uppercase;
  border-radius: 30px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.header__booking {
  margin-bottom: auto;
  align-self: center;
}

.booking:hover {
  color: #000;
  background-color: #ffe093;
}

.header__info-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  max-width: 1180px;
  width: 100%;
  margin-bottom: 11vh;
}

.header__info-num {
  position: relative;
  display: block;
  padding-left: 36px;
  margin-bottom: 10px;
  font-size: 32px;
  text-align: left;
}

.header__info-num::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url('../images/icon-check.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__info-text {
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.travel-info__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 62px;
}

/* .travel-info__title span {
  display: inline-block;
  padding-bottom: 8px;
  background-image: url('../images/decor-underline.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
} */

.travel-info__text {
  padding: 0 0 21px 147px;
  max-width: 760px;
  font-size: 24px;
  color: #000;
  text-transform: uppercase;
  background-image: url('../images/decor-arrow.svg');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 124px 77px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  counter-reset: counter;
}

.gallery__item {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 587px;
  padding: 0 30px 26px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffe093;
  border-radius: 25px;
  transition: color 0.5s ease;
}

.gallery__item:nth-child(n + 10)::before {
  content: counter(counter);
}

.gallery__item::before {
  content: '0' counter(counter);
  counter-increment: counter;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 95px;
  text-transform: uppercase;
  color: #fff;
}

.gallery__item-decor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallery__item:hover {
  color: #00a9bd;
}

/* .gallery__item::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  width: 178px;
  height: 115px;
  background-image: url('../images/decor-oval.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */

.gallery__item-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 74px;
}

.gallery__item-title {
  max-width: 351px;
  font-family: 'Raleway-Bold', sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  color: #fff;
}

.accommodation__title {
  margin-bottom: 60px;
}

.accommodation__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.accommodation__box-content {
  display: flex;
  align-items: center;
  padding: 0 20px 0 40px;
}

.accommodation__box-content-right {
  justify-content: end;
}

.accommodation__box-inner {
  max-width: 432px;
  background-image: url('../images/decor-star.svg');
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.accommodation__box-bgleft {
  padding-left: 63px;
  background-position: left top;
}

.accommodation__box-bgright {
  background-position: right top;
}

.accommodation__box-title {
  margin-bottom: 22px;
  font-size: 32px;
  text-transform: uppercase;
}

.accommodation__box--paired {
  grid-column: span 2;
}
